
$hash: '%23';

$icon--tick: 'data:image/svg+xml;utf8,<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 7l4.5 4.5L14 3" stroke="#{$hash}fff" stroke-linecap="square"></path></svg>';

$icon--arrow-right: 'data:image/svg+xml;utf8,<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 7.5L9.5 3.5M13.5 7.5L9.5 11.5M13.5 7.5H1" stroke="#{$hash}000"/></svg>';

$icon--chevron-down-b: 'data:image/svg+xml;utf8,<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 5L7.5 12L1 5" stroke="#{$hash}000" stroke-linecap="square"/></svg>';

$icon--chevron-down-w: 'data:image/svg+xml;utf8,<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 5L7.5 12L1 5" stroke="#{$hash}fff" stroke-linecap="square"/></svg>';