// ----------- CSS Grid -----------

$grid-columns-amount: 12;

@for $i from 1 through $grid-columns-amount {
    .grid {
        &.columns--#{$i} {
            grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
        }

        > .col--#{$i} {
            grid-column-start: #{$i};
        }

        > [class*='col--'].expand--#{$i} {
            grid-column-end: span #{$i};
        }
    }
}

.grid {
    --grid-gap: var(--spacing);

    width: 100%;
    display: grid;

    > * {
        overflow: auto;
    }

    &.gaps {
        grid-gap: var(--grid-gap);
        gap: var(--grid-gap);
    }

    &--auto {
        --auto-grid-min-size: 300px;
        grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    }
}
